
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 32px auto 0 auto;
    
}



/*caceçalho*/

.h1-sneak{
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
    text-transform: uppercase;
}





.header-ul{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
    display: flex;
    margin-left: 250px;
}

.header-li{
    margin-right: 30px;
}







.div-side-right-header{
    display: flex;
    align-items: center;
}


.header-searchbar{
    background: #F2F2F2;
    border-radius: 50px;
    border: 0.5px solid blue;
    padding: 14px 0px 10px 48px;
    color: #969696;
    background-image: url(../img/lupa.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 15px;
    font-size: 16px;
    border: none;
}


.cart{
    margin-left: 24px;
    background-image: url(../img/eclipse-cart.svg);
    background-repeat: no-repeat;
}








/*main first-section*/


.main-container-principal{
    display: flex;;
    justify-content: space-between;
    width: 90%;
    margin: 91px auto 0 auto;
}

.sneak-ultra-light-h2{
    font-weight: bold;
    font-size: 86px;
    line-height: 104px;
    width: 435px;
    background: -webkit-linear-gradient(
178deg, #DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-principal-paragrafo{
    width: 405px;
    margin-top: 24px;
    color: #1F1F1F;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}

.main-principal-button{
    margin: 108px 0px 262px 0px;
    border-radius: 12px;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    width: 280px;
    height: 84px;
    font-size: 17px;
    line-height: 28px;
    font-weight: bold;
    color: #1F1F1F;
    background-image: url('../img/Plus.svg');
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-position: right;
    padding-left: 32px;
    padding-right: 19px;
    background-position-x: 87%;
    background-size: 20px;
    background-color: white;
}






/*main second-section*/


.section-corrida-masculino{
    display: flex;
    flex-direction: column;
    margin-bottom: 264px;
    align-items: center;
    background: #F3F3F3;
    border-radius: 8px;
    width: 90%;
    margin: 0 auto 264px auto;
}

.titulo-corrida-masculino{
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #1F1F1F;
    margin: 64px 0;
    text-transform: uppercase;
}


.bolinhas-de-cor{
    width: 129px;
}

.tenis-branco-2{
    margin: 32px 0 45px 0;
}

.color{
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;

}


.add-to-cart{
    border-radius: 12px;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    width: 280px;
    height: 84px;
    margin-top: 64px;
    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    color: #1F1F1F;
    text-align: center;
    margin-bottom: 64px;
    background-color: #f3f3f3;

}







/*main third-section*/


.title-h2-leveza-e-agilidade{
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 56px;
    height: 70px;
    width: 510px;
    background: -webkit-linear-gradient(
178deg, #DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.paragrafo-leveza-e-agilidade{
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    width: 500px;
    color: #1F1F1F;
}

.img-tenis-branco{
    display: flex;
    width: 60%;
}

.first-sneaker-image{
    width: 50vw;
    height: 540px;
    object-fit: cover;
    background-image: url('../img/eclipse-tenis.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}


/*main sessão leveza e agilidade*/

.section-leveza-e-agilidade{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.div-container-hylo{
    margin-top: 40px;
}

.tenis-hylo-div{
    display: flex;
    width: 50%;
}

.img-tenis-hylo{
    width: 100%;
}





/*section amortecimento imediato*/


.section-amortecimento-imediato{
    width: 90%;
    margin: 160px auto 0 auto;
}

.div-amortecimento-imediato{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 160px;
}


.amortecimento-imediato-container{
    margin-top: 8px;
}

.title-h2-amortecimento-imediato{
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 24px;
    height: 128px;
    width: 510px;
    background: -webkit-linear-gradient(
178deg, #DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paragrafo-amortecimento-imediato{  
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
    width: 500px;
}

.tenis-amortecimento-imediato-div{
    width: 50%;
    display: flex;

}

.amortecimento-1{
    width: 58%;
    margin-right: 6px;
    object-fit: cover;
}

.amortecimento-2{
    width: 35%;
    object-fit: cover;
}







/*section sensação de estabilização*/

.section-sensação-de-estabilização{
    width: 90%;
    margin: 160px auto 0 auto;
}

.title-h2-sensação-de-estabilização{
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    height: 128px;
    width: 500px;
    background: -webkit-linear-gradient(
178deg, #DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}


.paragrafo-sensação-de-estabilização{
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
    width: 499px;
    height: 60px;
}


.div-sensação-de-estabilização{
    display: flex;
    justify-content: space-between;
    margin-top: 168px;
    margin-bottom: 200px;
}

.sensação-de-estabilização-container{
    margin-top: 8px;
}

.sensação-de-estabilização-img-div{
    width: 50%;
}

.img-sensação-de-estabilização{
    width: 100%;
}


/*sessão corra*/

.section-corra{
    width: 100%;
    background-image: url('../img/corra.png');
    margin: 0;
    height: 608px;
    margin-bottom: 200px;
    background-size: cover;
    background-repeat: no-repeat;

}


.div-corra{
    text-transform: uppercase;
}

.arrow{
    margin-left: 24px;
    margin-bottom: 12px;
}


.word-corra{
    font-weight: bold;
    font-size: 104px;
    line-height: 104px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    display: inline-block;
    margin-left: 22px;

}
.text-corra{
    font-weight: bold;
    font-size: 104px;
    line-height: 104px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    width: 1155px;
    margin-left: 16px;

}



/*sessão-contato-formulário-e-mapa*/


.section-mapa{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: row-reverse;
    height: 958px;
    justify-content: center;
    margin-bottom: 160px;
    
}

.container-form{
    padding-right: 48px;
    background: #F3F3F3;
    border-radius: 0px 8px 8px 0px;
    padding-top: 40px;
}

.h2-contato{
    width: 500px;
    height: 48px;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #1F1F1F;
    margin-left: 48px;
}

.form-input{
    margin-left: 48px;
}

.div-input{
    display: flex;
    flex-direction: column;
    width: 469px;
}

.input-name{
    width: 100%;
    height: 76px;
    margin-bottom: 24px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #969696;
    background: #FFFFFF;
    border: none;
    border-radius: 12px; 
    padding-left: 28px;   
}

.name{
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    color: #969696;
    position: relative;
    bottom: 78px;
    left: 28px;

}

.input-email{
    width: 100%;
    height: 76px;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #969696;
    background: #FFFFFF;
    border: none;
    border-radius: 12px; 
    padding-left: 28px;   
}

.email{
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    color: #969696;
    position: relative;
    bottom: 78px;
    left: 28px;
}

.textarea-comentários{
    resize: none;
    width: 100%;
    height: 260px;
    margin-bottom: 56px;
    background: #FFFFFF;
    border: none;
    border-radius: 12px; 
    padding-left: 28px;  
    padding-top: 24px; 
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    color: #969696;
    
}

.comentários{
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    color: #969696;
    position: relative;
    bottom: 316px;
    left: 28px;
}


.checkbox-label{
    margin-left: 48px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-bottom: 34px;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #969696;
    align-items: center;
}

.label{
    margin-left: 9px;
}

.checkbox{
    background: #FFFFFF;
    border: 2px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 4px;
    width: 28px;
    height: 28px;
}

.submit{
    margin-left: 48px;
    background-color: #f3f3f3;
}


.div-mapa{
    width: 60%;
}

.img-mapa{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.submit{
    width: 501px;
    height: 84px;
    margin-bottom: 48px;
    background: #F3F3F3;
    border: 2px solid #1F1F1F;
    box-sizing: border-box;
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
}







/*sessão sobre*/

.section-sobre{ 
    height: 306px;
    background: #f3f3f3; 
    display: flex;
    justify-content: space-between;
    padding: 56px 270px 0 80px;
}

.section-sobre-h2{
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
}

.section-sobre-h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.section-sobre-li{
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
    padding-top: 12px;
}

.social-media-icons{
    width: 165px;
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
}


/*sessão rodape*/

.rodape{
    height: 68px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape-span{
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;
    color: #1F1F1F;
    text-transform: uppercase;
    padding-right: 8px;
    padding-top: 1px;
}